.primary-color{
    -fx-background-color: #fff;
}

.secondary-color{
    -fx-background-color: #A6A6A6;
}

.button{
    -fx-background-color: transparent;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-text-fill: #000;
}

.favorite{
    -fx-fill: red;
}

.glyph-icon {
    -fx-fill: #000;
}

.text{
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: #000;
}

.searchBar{
    -fx-text-fill: #000;
}

.tab {
    -fx-text-base-color: #000;
}
